<div class="page-header" style="display: flex; justify-content: space-between;">
  <ul class="list-unstyled list-inline" style="margin-top: 1.6em;">
    <li><a href="/" class="btn">Back to home</a></li>
  </ul>
  <h1>Morphs</h1>
  <ul class="list-unstyled list-inline" style="margin-top: 1.6em;">
    <li>
      <a href="<%= newMorphsPath() %>" class="btn btn-primary">Create New Morph</a>
    </li>
  </ul>
</div>

<div class="morph-container">
  <%= for (morph) in morphs { %>
    <div class="morph" onclick="location.href='<%= morphPath({ morph_id: morph.ID }) %>';">
      <%= if (morph.Filename) { %>
        <img src="/uploads/<%= morph.Filename %>" alt="morph image here" width="150"/>
      <% } %>
      <div class="morph-name">
        <%= morph.Name %>
      </div>  
    </div>
  <% } %>
</div>

<div class="text-center">
  <strong><%= pagination.TotalEntriesSize %> entries</strong>
  <%= paginator(pagination) %>
</div>