<div class="page-header" style="display: flex; justify-content: space-between;">
  <h1>Morphs</h1>
  <ul class="list-unstyled list-inline" style="margin-top: 1.6em;">
    <li>
      <a href="<%= newMorphsPath() %>" class="btn fa fa-plus"></a>
    </li>
    <li>
      <a href="<%= morphsPath() %>?order_by=name" class="btn fa fa-sort-alpha-asc"></a>
    </li>
    <li>
      <a href="<%= morphsPath() %>?order_by=rating" class="btn fa fa-star"></a>
    </li>
  </ul>
</div>

<div class="morph-container">
  <%= for (morph) in morphs { %>
    <div class="morph" onclick="location.href='<%= morphPath({ morph_id: morph.ID }) %>';">
      <%= if (morph.Filename) { %>
        <img src="/uploads/<%= morph.Filename %>" alt="morph image here" width="150"/>
      <% } %>
      <div class="morph-name">
        <%= morph.Name %>
      </div>  
      <div><%= rating(morph.Rating) %></div>
    </div>
  <% } %>
</div>

<div class="text-center">
  <strong><%= pagination.TotalEntriesSize %> entries</strong>
  <%= paginator(pagination) %>
</div>