<div class="page-header" style="display: flex; justify-content: space-between;">
  <ul class="list-unstyled list-inline" style="margin-top: 1.6em;">
    <li><a href="<%= morphsPath() %>" class="btn">Back to all Morphs</a></li>
  </ul>
  <h1><%= morph.Name %></h1>
  <ul class="list-unstyled list-inline" style="margin-top: 1.6em;">
    <li>
        <a href="<%= editMorphPath({ morph_id: morph.ID })%>" class="btn" title="edit">
          <i class="fa fa-edit"></i>
        </a>
    </li>
    <li>
        <a href="<%= morphPath({ morph_id: morph.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn">
          <i class="fa fa-remove"></i>
        </a>
  </ul>
</div>


<%= if (morph.Filename) { %>
  <p style="display: flex; align-items: center; justify-content: center;">
    <img src="/uploads/<%= morph.Filename %>" alt="morph image here" />
  </p>
<% } %>
